<!--<div id="firstColumn">
  <div id="topLine">
    <app-logo></app-logo>
  </div>
  <div id="midLine">
    <app-project-list [hidden]="false"></app-project-list>
    <app-task [hidden]="true"></app-task>
    <app-task-list [hidden]="true"></app-task-list>
  </div>
  <div id="bottomLine">
    <app-members [hidden]="true"></app-members>
    <app-notifications [hidden]="false"></app-notifications>
  </div>
</div>
<div id="secondColumn">
  <div id="userLine">
    <app-project [hidden]="true"></app-project>
    <app-user [hidden]="false"></app-user>
  </div>
  <div id="changesLine">
    <app-changes></app-changes>
  </div>
</div>
-->
{{liczba}}
