div {
}
a {
  text-decoration: none;
}

.header, .footer {
  background-color: #3b5998;
}

.content, .menu, .notifications {
  height: 75%;
}

.header {
  height:20%;
  border-radius: 150px 150px;
}

.menu a {
  display: block;
  line-height: 20px;
  padding: 0 8px;
  color: black;
  font-weight: bold;
  text-align: center;
}
.menu a:hover {
  background: #8b9dc3;
  color: white;
}

.menu {
  width: 15%;
  min-width: 200px;
  float:left;
  background-color:#e9ebee ;
  z-index: 1;
  border-right: solid #3b5998;
}

.notifications {
  width: 15%;
  min-width: 250px;
  float:right;
  border-left: solid #3b5998;
}

.menu dt {
  font-size: 1.4em;
  padding-top:6px;
  text-align:center;
}

.menu dd {
  font-size:1.2em;
  margin-top:3px;
  margin-left:6px;
}

.content {
  width: 70%;
  float: left;
}

.footer {
  clear:both;
  height:5%;
  border-radius: 100px 100px;
}

.author {
  color: white;
  padding-left: 40%;
  padding-top: 0.5%;
}

.user-panel {
  float: right;
  height: 96%;
  width: 18%;
  min-width: 250px;
  background-color: #e9ebee;
  border-radius: 100px 100px;
  margin-right: 10%;
  margin-top: 0.2%;
}
