<div class="header">
  <app-logo></app-logo>

  <div class="user-panel">
    <app-user></app-user>
  </div>
</div>

<div class="menu">
  <dl class="main_menu">
    <dt>
      <span class="title_menu">MENU</span>
    </dt>
    <dd>
      <a routerLink="project-list">Lista Projektów</a>
    </dd>
    <dd>
      <a routerLink="task-list">Lista Zadań</a>
    </dd>
    <dd>
      <a routerLink="members">Twoi współpracownicy</a>
    </dd>
  </dl>
  <div class="info">
    <app-changes></app-changes>
  </div>
</div>

<div class="notifications">
  <app-notifications></app-notifications>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="author"> Projekt oraz implementacja: Łukasz Baryczka </div>
</div>

