<div id="header">
  <app-logo></app-logo>

  <div id="user-panel">
    <app-user></app-user>
  </div>
</div>

<div id="menu">
  <dl id="main_menu">
    <dt>
      <span id="title_menu">MENU</span>
    </dt>
    <dd>
      <a routerLink="project-list">Lista Projektów</a>
    </dd>
    <dd>
      <a routerLink="task-list">Lista Zadań</a>
    </dd>
    <dd>
      <a routerLink="members">Twoi współpracownicy</a>
    </dd>
  </dl>
  <div id="info">
    <app-changes></app-changes>
  </div>
</div>

<div id="notifications">
  <app-notifications></app-notifications>
</div>

<div id="content" class="container">
  <router-outlet></router-outlet>
</div>

<div id="footer">
  <div id="author"> Projekt oraz implementacja: Łukasz Baryczka </div>
</div>

