.task-list {
  width: 98%;
  height: 98%;
  margin-top: 2%;
  margin-left: 2%;
}

.Task {
  border-radius: 50px 50px;
  display:inline-block;
  width: 230px;
  height: 400px;
  background-color: #dfe3ee;
  margin-top: 2%;
  margin-right: 0.5%;
  padding: 0.75%;
  float: left;
}

.Task:hover {
  background-color: #8b9dc3;
}

.nazwaTaska {
  font-size: 1.2em;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 0.5%;
  height: 27%;
}

.czasTaska {
  text-align: center;
  clear: both;
}

.opisTaska {
  text-align: center;
  height: 58%;
}
