<div class="Changes" *ngFor="let changes of changeList">
  <button class="button hide" type="button" id="changesBtn" (click)="hide(changes)">*</button>
  <div class="change" [hidden]="visibleProject(changes)">
    <p>Został dodany komentarz<br />w projekcie:</p>
    <p>{{changes.project?.name}}</p>
  </div>
  <div class="change" [hidden]="visibleTask(changes)">
    <p>Został dodany komentarz<br />w zadaniu:</p>
    <p>{{changes.task?.name}}</p>
    <p>Wykonuje:</p>
    <p>{{changes.task?.customer.name}} {{changes.task?.customer.surname}}</p>
  </div>
</div>
