<div id="Powiadomienie" *ngFor="let notification of notificationList">
  <button type="button" id="notificationBtn" (click)="hide(notification)">X</button>
  <div id="fromPowiadomienie">
    Cześć {{notification.customer?.name}}
  </div>
  <div id="contentPowiadomienie" [hidden]="visibleTask(notification)">
    <p>Zostałeś przydzielony do wykonania zadania</p>
    <p>Zadanie: {{notification.task?.name}}</p>
  </div>
  <div id="contentPowiadomienie2" [hidden]="visibleProject(notification)">
    <p>Zostałeś dodany do uczestnictwa w projekcie</p>
    <p>Projekt: {{notification.project?.name}}</p>
  </div>
</div>
