#Projekt {
  display:inline-block;
  width: 200px;
  height: 95%;
  background-color: #cccc99;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0.4%;
}

#nazwaProjektu {

}

#czasProjektu {

}

#opisProjektu {
  height: 50%;
}
