<modal-project></modal-project>
<div [routerLink]="['/project-list', projekt.projectId]" id="Projekt" *ngFor="let projekt of projekty">
  <div [routerLink]="['/project', projekt.projectId]" id="projectBtn">X</div>
  <div [routerLink]="['/doc', projekt.projectId]" id="docBtn">Doc</div>
  <div id="nazwaProjektu">
    Nazwa projektu: {{projekt.name}}
  </div>
  <div id="opisProjektu">
    Opis: {{projekt.description}}
  </div>
  <div id="czasProjektu">
    Czas realizacji: {{projekt.deadline}}
  </div>

</div>
