<div class="project-list">
  <div>
    <button class="button" type="button" (click)="goBack()">Powrót</button>
    <modal-project></modal-project>
  </div>
  <div [routerLink]="['/project-list', projekt.projectId]" class="Projekt" *ngFor="let projekt of projekty">
    <button class="button info" [routerLink]="['/project', projekt.projectId]">Szczegóły</button>
    <button class="button doc" [routerLink]="['/doc', projekt.projectId]">Dokumentacja</button>
    <div class="nazwaProjektu">
      <p>{{projekt.name}}</p>
    </div>
    <div class="opisProjektu">
      {{projekt.description}}
    </div>
    <div class="czasProjektu">
      Czas realizacji: {{projekt.deadline}}
    </div>

  </div>
</div>
