.user {
  border-radius: 150px 150px;
  display:inline-block;
  width: 200px;
  height: 200px;
  background-color: #dfe3ee;
  margin-top: 2%;
  margin-left: 3%;
  padding: 0.75%;
}

.user-name, .user-email {
  font-size: 1em;
  text-align: center;
  margin-top: 20%;
}

