<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nowy Projekt</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="form-group">
        <label for="name">Tytuł projektu</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="project.name" name="name" required>
      </div>

      <div class="form-group">
        <label for="description">Opis</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="project.description" name="description" required>
      </div>

      <div class="form-group">
        <label for="deadline">Termin końcowy</label>
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" id="deadline" [(ngModel)]="deadline" name="deadline" required>
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>

      <div class="form-group">
        <label for="members">Zespół</label>
        <select id="members" multiple name="users" [(ngModel)]="selectedUser">
          <option *ngFor="let user of users" [value]="user">
            {{user.name}} {{user.surname}}
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="button" (click)="c('Close click')">Wyjdź</button>
        <button type="submit" class="button">Dodaj</button>
      </div>

    </form>
  </div>

</ng-template>

<button class="button" (click)="open(content)">Dodaj nowy projekt</button>
